body {
	margin: 0;
}
h2 {
	color: rgb(13, 0, 128);
	font-style: italic;
}

.note {
	color: grey;
	padding-top: 5px;
	font-size: 15px;
}

.message {
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.error {
	color: red;
}

.success {
	color: green;
}

.home_nav {
	display: flex;
	background-color: rgb(150, 144, 144);
}
.home_nav li {
	padding: 5px;
	list-style: none;
}
